<div class="row justify-content-center mt-4">
  <div class="col-lg-6 bg-white rounded shadow-sm p-5">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title"><%= @restaurant.name %></h5>
          <div class="restaurant-category"><%= @restaurant.category.name %></div>
          <p class="card-text"><%= @restaurant.description %></p>
          <div class="restaurant-rating"><%= @restaurant.rating %></div>
      </div>
    </div>
    <%= link_to 'Back to the list', restaurants_path, class:'btn btn-primary' %>
  </div>
</div>

<div class="row justify-content-center mt-4">
  <div class="col-lg-6 bg-white rounded shadow-sm p-5">
    <h3>Reviews
      <%= link_to new_restaurant_review_path(@restaurant) do %>
       <i class="fa fa-pencil"></i>
      <% end %>
    </h3>
    <% @restaurant.reviews.each do |review|  %>
      <div class="card">
        <div class="card-body">
            <p class="card-text"><%= review.content %></p>
            <div class="restaurant-category">Rating <%= review.rating %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
